{% extends 'base.html' %}

{% block title %} Statics {% endblock title %}

{% block body %} 
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="text-center mb-20">
      <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">Statistics</h1>
      
             <div class="flex mt-6 justify-center">
                 <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
                 </div>
             </div>
                                                             
                
                                    <div class="text-center">
                            
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                                    <thead class="thead-dark">
                                                            <tr>
                                                                <th>Statistics</th>
                                                                {% for column in summary_stats.columns %}
                                                                <th>{{ column }}</th>
                                                                {% endfor %}
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for index, stats in summary_stats.iterrows %}
                                                            <tr>
                                                                <td>{{ index }}</td>
                                                                {% for value in stats %}
                                                                <td>{{ value }}</td>
                                                                {% endfor %}
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                </table>
                                    </div>
                                    
                                    <h2 class="mt-4">DataFrame Information</h2>
                                                <pre>{{ df_info }}</pre>
                                </div>


      
      </div>
    </div>
    </div>
</section>

{% endblock body %}